:root {
    --light-gray: #f5f5f5;
    --dark-gray: #888888;
    --yellow: #ffd009;
}

.github-icon{
    width: 20px
}

.logo{
    width: 10vw;
}

body {
    background-color: var(--light-gray);
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

footer {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    align-items: center;
}

/* Default rounded corners of all children elements*/
body * {
    border-radius: 10px;
    border: none;
}

/* Removes focus border */
input:focus {
    outline: none;
}

button {
    background-color: var(--yellow);
    color: black;
    width: 50%;
}

button:active, button:focus {
    background-color: white;
    border-color: var(--yellow);
    border-width: 2px;
}

/* Default color on click and filled form elements (from black text) is a muted grey currently */
a:visited, form::placeholder {
    color: var(--dark-gray);
}

form {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.form-wrapper input {
    box-shadow: 0px 5px 15px #00000029;
    border-radius: 10px;
    height: 50px;
    font-size: 15px;
    opacity: 1;
    padding: 10px;
    width: 100%;
}

.form-wrapper label {
    display: block;
    text-align: left;
    color: var(--dark-gray);
}

.form-wrapper 

.redboi {
    color: red;
}
