@font-face {
    font-family: "SF-Bold";
    src: url("../font/sf-pro-display-bold-webfont.woff") format('woff');
}

@font-face {
    font-family: "SF-Medium";
    src: url("../font/sf-pro-display-medium-webfont.woff") format('woff');
}

@font-face {
    font-family: "SF-Regular";
    src: url("../font/sf-pro-display-regular-webfont.woff") format('woff');
}


:root {
    --light-gray: #f5f5f5;
    --dark-gray: #888888;
    --yellow: #ffd009;

    --font-large: 20px;
    --font-medium-large: 10px;
    --font-medium: 15px;
    --font-normal: 15px;
    --font-small: 12px;
    --font-bold: 700;
}

/* Default formatting*/
* {
    border-radius: 10px;
    border: none;
    font-size: var(--font-normal);
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 0px;
}

.github-icon{
    
    padding-top: 10px;
    width: 20px
}

.logo{
    width: 10vw;
}

body {
    background-color: var(--light-gray);
    color: black;
    font-family: SF-Regular, 'Raleway', sans-serif;
    font-weight: 200;
}

footer {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    align-items: center;
}

footer * {
    border-radius: 0;
}

span {
    font-weight: 100;
}

/* Text formatting ============================================================= */

h1, h2, h3, h4, h5, p {
    margin: 0;
    color: black;
    text-align: center;
    padding-bottom: 10px;
}

p {
    font-size: var(--font-normal);
}

h1 {
    font-size: var(--font-large);
    margin-inline: 0;
    margin-block: 0;
}

h2 {
    font-size: var(--font-medium-large);
}

h3 {
    font-size: var(--font-medium);
}

h5 {
    font-size: var(--font-normal);
    color: var(--dark-gray);
}

b, h1, h2, h3, h4 {
    font-weight: var(--font-bold);
}

/* Removes focus border */
input:focus {
    outline: none;
}

.b1, .button, .b2, button {
    text-align: center;
    align-items: center;
    color: black;
    height: 60px;
}

button, .b1, .button, 
.b2:active, .b2:hover {
    background-color: var(--yellow);
}

button:active, button:hover, 
.b1:active, .b1:hover,
.button:active, .button:hover,
.b2 {
    background-color: white;
}


/* Default color on click and filled form elements (from black text) is a muted grey currently */
a:visited, form::placeholder {
    color: var(--dark-gray);
}

/* General form and button formatting ========================================== */

form {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.form-wrapper {
    padding-bottom: 20px;
}

.form-wrapper input, label {    
    text-align: left;
    font-size: var(--font-normal);
    width: 100%;
}

.form-wrapper input {
    box-shadow: 0px 5px 15px #00000029;
    border-radius: 10px;
    height: 60px;
    font-size: var(--font-normal);
    padding: 10px;
}

.form-wrapper label, .form-wrapper button, .form-wrapper select {
    display: block;
    color: var(--dark-gray);
    padding-bottom: 10px;
}

.form-wrapper select, .form-wrapper select::before {
    margin: 0 auto; 
    display: block;
}

.form-wrapper select {
    padding: 10px;
}

.form-wrapper select:focus {
    outline: 0;
}

.form-wrapper .form-button {
    text-align: center;
    font-size: var(--font-medium);
    font-weight: var(--font-bold);
    background-color: var(--yellow);
}

.form-wrapper .form-button:active, 
.form-wrapper .form-button:hover {
    background-color: white;
}

.form-error {
    color: var(--dark-gray);
    font-size: var(--font-small);
}


/* Specific landing tap form formatting ======================================== */

#user-username *, #party-size * {
    white-space: nowrap;
    display: block;
}

#party-size input {
    text-align: center;
}

#user-username {
    float: left;
    width: 70%;
}

#party-size {
    padding-left: 10px;
    width: 30%;
    float: right;
}

/* Specific to lineStatus  ====================================================== */

#cancel-button {
    width: 40%;
    float: left;
}

#confirm-button {
    float: right;
    width: 55%;
}

.status-image {
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Specific to merchant stuff  =================================================== */
#merchant-title {
    text-align: center;
}