{% extends "base.html" %}
{% block content %}

<div style="height: 73vh;" class="px-5">
    <div class="row row-center-vertical" style="height: 33%">
        <div class="container py-5 text-center">
            <div>
                <span style="font-family:verdana;font-size:40px">
                        <script language="JavaScript">
                            TargetDate = new Date().valueOf() + 0*60000 + 5*1000;
                            BackColor = "white";
                            ForeColor = "black";
                            CountActive = true;
                            CountStepper = -1;
                            LeadingZero = true;
                            DisplayFormat = "%%M%% Minutes, %%S%% Seconds.";
                            FinishMessage = "Your reservation has been cancelled.";
                        </script>
                    <script language="JavaScript" src="https://rhashemian.github.io/js/countdown.js"></script>
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}