{% extends "base.html" %}
{% block content %}

<div class="container text-center">
    <div style="text-align: center;" width=50px>
        <body>
           <h1 class="bottom-padding">Whoops, something went wrong.</h1>
            <form action="/" method="post" novalidate>    
                <div class="form-wrapper">
                    <input type="submit" class="form-button" value="return home 🡆" ></input>
                
                </div>
            </form>
        </body>
    </div>
</div>

{% endblock %}