{% extends "base.html" %}
{% block content %}

<div class="container text-center">
    <div style="text-align: center;" width=50px>
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag()}}
            {% if form.errors|length > 0 %}
                <span class="form-error">that number didn't work. please <b>try again</b></span>
            {% endif %}
            <br>
            <br>
            <div class="form-wrapper">
                {{ form.phone.label }}
                {{ form.phone }}
            </div>
            <div class="form-wrapper">
                {{ form.submit(class_="form-button") }}
            </form>
        </form>
        <div>
            <hr>
            <h3>or</h3>
            <h2>Tap a Tag</h2>
        </div>
    </div>
</div>

{% endblock %}