{% extends "base.html" %}
{% block content %}

<!--CONTENT-->
<div style="text-align: center;" width=50px>
    <span><b>line up</b> with name and phone number.</span>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        {% if form.errors|length > 0 %}
            <span class="form-error">please fill out all <b>required fields</b></span>
        {% endif %}
        <br>
        <div class="form-wrapper" id="user-username">
            {{ form.name.label}}
            {{ form.name}}
        </div>
        <div class="form-wrapper" id="party-size">
            {{ form.party_size.label}}
            {{ form.party_size}}
        </div>
        <div class="form-wrapper">
            {{ form.phone_number.label }}
            {{ form.phone_number}}
        </div>
        <div class="form-wrapper">
            {{ form.submit(class_="form-button")}}
        </div>
    </form>
</div>


{% endblock %}