{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3>You are now in queue.</h3>
    <h5 class="bottom-padding">Party of {{ partyNum }} | ◴ <span id="wTime">{{ waitedTime }}</span></h5>
   
    <img src="../assets/img/people.svg" class="status-image"></img>

    <h3>There are</h3>
    <h1 id="place">{{ place }}</h1>
    <h3 class="bottom-padding">parties in front of you</h3>

    <p>On average, people wait <span id="avgTime">{{avgTime}}</span>.</p>

    <img src="../assets/img/sample-times.svg" class="status-image"></img>
    <br>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <div class="form-wrapper bottom-padding">
            {{ form.cancel(class_="form-button", id="cancel-button")}}
            {{ form.confirm(class_="form-button", id="confirm-button")}}
        </div>
    </form>
    <br>
    <br>
    <br>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    var interval = 1000;  // 1000 = 1 second, 3000 = 3 seconds
    function doAjax() {
        $.ajax({
            type: 'GET',
            url: '/getStats?service_id={{ serviceID }}&customer_id={{ customerID }}',
            data: $(this).serialize(),
            dataType: 'json',
            success: function (data) {
                $('#place').html(data['place']);// first set the value
                $('#wTime').html(data['wTime']);
                $('#avgTime').html(data['avgTime']);
            },
            complete: function (data) {
                // Schedule the next
                setTimeout(doAjax, interval);
            }
        });
    }
    setTimeout(doAjax, interval);
</script>
{% endblock %}