{% extends "base.html" %}
{% block content %}
<!-- CONTENT -->

<div style="text-align: center;">
    <span><b>Venue management</b></span>
    <!-- top navbar -->
    <div class=navbar>
        <button>Dashboard</button>
        <button>Manage</button>
        <button>Support</button>
        <div class="dropdown">
            <button class="dropbtn">{{merchant.get('name')}}</button>
            <a href="">Account Details</a>
            <a href="">Your Services</a>
            <a href="">Payment Methods</a>
            <a href="">Transactions</a>
        </div>
    </div>

    <!-- main content -->
    <p>Dashboard</p>
    <table style="width:100%">
        <tr>
          <th>Table #</th>
          <th>Service Type</th>
          <th>Status</th>
        </tr>
        {% for table in tables %}
        <tr>
            <th>{{table.id}}</th>
            <th>{{table.get('service_type')}}</th>
            <th>{{table.get('status')}}</th>
        </tr>
        {% endfor %}
    </table>

    <!-- footer -->
</div>

{% endblock %}