{% extends "base.html" %}
{% block content %}

<!-- CONTENT -->
<div style="text-align: center;">
    <span><b>register</b> your organization to start <b>serv'ing</b></span>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% if form.errors|length > 0 %}
            <span class="form-error">please fill out all <b>required fields</b></span>
        {% endif %}
        <br>
        <div class="form-wrapper" id="user-username">
            {{ form.name.label }}
            {{ form.name}}
        </div>
        <div class="form-wrapper" id="party-size">
            {{ form.service_capacity.label}}
            {{ form.service_capacity}}
        </div>
        <div class="form-wrapper">
            {{ form.email.label }}
            {{ form.email}}
        </div>
        <div class="form-wrapper">
            {{ form.phone_number.label }}
            {{ form.phone_number}}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}