{% extends "base.html" %}
{% block content %}

<div class="container text-center">
    <h3 class="py-3">Check your phone for a verification code.</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        {% if form.errors|length > 0 %}
            <span class="form-error">that code didn't work. please <b>try again</b>.</span>
        {% endif %}
        <div class="form-wrapper">
            {{ form.code.label }}
            {{ form.code }}
        </div>
        <div class="form-wrapper">
            {{ form.submit(class_="form-button")}}
        </div>
    </form>
</div>

{% endblock %}